
@{
    ViewBag.Title = "Index";
}
<div>
    <h2>留言板首頁</h2>
</div>
<br />
<div>
    <input type="text" id="Search" />
    <input type="button" id="clicksearch" value="搜尋" />
</div>
<br />
<div>
    <input type="button" id="LeaveMessage" value="新增留言" />
</div>
<br />
<div>
    <ul class="Message-list">

    </ul>
</div>


<div id="MessageModal" class="modal" role="dialog" style="overflow:auto">

</div>

@section scripts{
    
    
    }