
@{
    ViewBag.Title = "Index";
}
@section style{
    <style>
        * {
            padding: 0;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
        }

        .tableul {
            width: 95%;
            display: block;
            margin: 1em auto;
            border-collapse: collapse;
        }

        .thead {
            display: table-header-group;
        }

        .tr {
            display: table-row;
        }

        .tbody {
            display: table-row-group;
        }

        .thead li, .tr li {
            display: table-cell;
            padding: 5px;
            border: 1px solid #aaa;
        }

        .thead li {
            text-align: center;
            font-weight: bold;
        }

        .btn {
            margin-left: 10px;
        }

    </style>
}
<div>
    <h2>留言板首頁</h2>
</div>
<br />
<div>
    <input type="text" id="Search" />
    <input type="button" id="clicksearch" value="搜尋" />
</div>
<br />
<div>
    <input type="button" id="btnCreateMessage" value="我要留言" />
</div>
<br />
<div>
    <ul class="tableul">
        <li class="thead">
            <ol class="tr">
                <li>暱稱</li>
                <li>留言</li>
                <li>時間</li>
                <li>功能</li>
            </ol>
        </li>
        <li class="tbody MessageList">

        </li>
    </ul>
</div>


<div id="MessageModal" class="modal" role="dialog" style="overflow:auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">請暢所欲言</h4>
            </div>
            <div class="modal-body" style="height:100px">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="Member" value="" />
                    <div class="form-group">
                        <label>我想說：</label>
                        <input type="text" id="txtmessage" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">儲存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/date.f-0.5.0.js"></script>
    <script>

        $(document).ready(function () {

            var Member = document.cookie.split('UserName=')[1];
            console.log(Member);

            GetMessages();

            $("#btnCreateMessage").click(function () {
                $("#MessageModal").modal('show');
                $("#Member").val(Member);
            })

            $("#btnSave").click(function () {

                if ($("#txtmessage").val() == "") {
                    alert("請輸入留言");
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: '/Message/CreateMessage',
                    data: {
                        "Member": $("#Member").val(),
                        "Message": $("#txtmessage").val()
                    },
                    success: function () {
                        $("#txtmessage").val("");    
                        GetMessages();
                        $("#MessageModal").modal('hide');
                    },
                    error: function () {
                        alert("連線異常");
                    }
                })

            })

            $("#clicksearch").click(function () {
                if ($('#Search').val() == "") {
                    GetMessages();
                }
                else {
                    SearchMember();
                }

            })

            $(".MessageList").on("click", ".btndelete", function () {

                var id = $(this).attr("id").slice(9);

                Swal.fire({
                    title: '確定刪除嗎?',
                    text: "此刪除不可復原!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '確認刪除!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            '刪除成功!',
                            '您的留言已被刪除',
                            'success'
                        )
                        $.ajax({
                            type: "GET",
                            url: '/Message/DeletMessage',
                            data: { "Id": id },
                            success: function () {
                                GetMessages();
                            },
                            error: function () {
                                alert("連線異常");
                            }
                        })
                    }
                })

            })

            $(".MessageList").on("click", ".btnupdate", function () {
                 
                var id = $(this).attr("id").slice(9);
                var content = $(`#message${id}`).text();
            
                $(`#message${id}`).replaceWith(`<input type="text" id="text${id}" value="${content}">`);

                $(this).addClass("btncomplete");

                $(this).removeClass("btnupdate");

                $(this).val("完成");

            })

            $(".MessageList").on("click", ".btncomplete", function () {

                var id = $(this).attr("id").slice(9);
                var content = $(`#text${id}`).val();

                $.ajax({
                    type: "POST",
                    url: '/Message/UpdateMessage',
                    data: { "Id": id, "message": content },
                    success: function () {

                        $(`#text${id}`).replaceWith(`<li id="message${id}">${content}</li>`)

                        $(this).addClass("btnupdate");

                        $(this).removeClass("btncomplete");

                        $(this).val("編輯");
                    },
                    error: function () {
                        alert("連線錯誤");
                    }
                })

            })

        })

        function GetMessages() {
            messages = [];
            $.ajax({
                type: "GET",
                url: "/Message/GetMessages",
                success: function (data) {
                    console.log(data);
                    var str = "";
                    var el = document.querySelector(".MessageList");
                    for (var i = 0; i < data.length; i++) {
                        var date = eval((data[i].mTime).replace(/\/Date\((.*?)\)\//gi, "new Date($1)")).f("yyyy-MM-dd HH:mm:ss");
                        var member = data[i].mMember;
                        var Member = document.cookie.split('UserName=')[1];

                        if (member == Member) {
                            var content = `<ol class="tr">` +
                                `<li>${member}</li>` +
                                `<li id="message${data[i].mId}">${data[i].mMessage}</li>` +
                                `<li>${date}</li>` +
                                `<li><input type="button" class="btn btnupdate" id="btnupdate${data[i].mId}" value="編輯" />` +
                                `<input type="button" class="btn btndelete" id="btndelete${data[i].mId}" value="刪除" /></li ></ol >`
                            str += content;
                        }
                        else {
                            var content = `<ol class="tr">` +
                                `<li id="message${data[i].mId}">${data[i].mMember}</li>` +
                                `<li>${data[i].mMessage}</li>` +
                                `<li>${date}</li><li></li></ol >`
                            str += content;
                        }

                    }
                    el.innerHTML = str;
                },
                error: function () {
                    alert('載入失敗');
                }
            })
        }

        function SearchMember() {
            $.ajax({
                type: "GET",
                url: '/Message/SearchMember',
                data: { "member": $('#Search').val() },
                success: function (data) {
                    console.log(data);
                    var str = "";
                    var el = document.querySelector(".MessageList");
                    for (var i = 0; i < data.length; i++) {
                        var date = eval((data[i].Time).replace(/\/Date\((.*?)\)\//gi, "new Date($1)")).f("yyyy-MM-dd HH:mm:ss");
                        var member = data[i].Member;
                        var Member = document.cookie.split('UserName=')[1];

                        if (member == Member) {
                            var content = `<ol class="tr">` +
                                `<li>${member}</li>` +
                                `<li id="message${data[i].Id}">${data[i].Message}</li>` +
                                `<li>${date}</li>` +
                                `<li><input type="button" class="btn btnupdate" id="btnupdate${data[i].Id}" value="編輯" />` +
                                `<input type="button" class="btn btndelete" id="btndelete${data[i].Id}" value="刪除" /></li ></ol >`
                            str += content;
                        }
                        else {
                            var content = `<ol class="tr">` +
                                `<li>${member}</li>` +
                                `<li id="message${data[i].Id}">${data[i].Message}</li>` +
                                `<li>${date}</li>` +
                                `<li></li ></ol >`

                            str += content;
                        }
                    }
                    el.innerHTML = str;
                },
                error: function () {
                    alert('搜尋失敗');
                }
            })
        }





    </script>
}
