@{
    ViewBag.Title = "Sign up";
}
<div>
    <h2>註冊</h2>
</div>
<br />

<div>
    <form method="post">
        <label>Email信箱：</label>
        <input type="text" id="Email" class="form-control" />
        <br />
        <label>暱稱：</label>
        <input type="text" id="NickName" class="form-control" />
        <br />
        <label>密碼：</label>
        <input type="password" id="Password" class="form-control" />
        <br />
        <label>確認密碼：</label>
        <input type="password" id="PasswordCheck" class="form-control" />
        <br />
        <input type="button" value="送出" id="submit" />
    </form>
</div>


@section scripts{


}